.Ifooter{
    background-color: #404040;
    border-top: 3px inset black;
    height: 20vw;
    .footer_body{
        position: absolute;
        top: 115%;
        left: 25%;
    }
    .footer_topic{
        font-size: 1vw;
        font-family: 'Quattrocento', serif;
        padding-bottom: .5vw;
    }
    .sep-3{
        width: 15vw;
        border-color: black;
    }
    .second-nav{
        padding-top: 1vw;
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            font-size: 1vw;
            color: black;
            span{
                font-size: 1vw;
            }
        }
    }
}

