.Ititle {
    h1 {
        font-family: 'Dancing Script', cursive;
        position: absolute;
        top: 10%;
        left: 40%;
        font-size: 5vw;
    }
}

.Inav {
    ul {
        display: inline-flex;
        list-style: none;
        position: absolute;
        top: 24%;
        left: 36%;

        a {
            text-decoration: none;
        }

        li {
            padding-left: 10px;
            font-size: 2vw;
            font-family: 'Quattrocento', serif;
            color: #000;
        }

        li:hover {
            text-decoration-line: underline;
            text-decoration-color: #000;
        }
    }
}