.Imain{
   .Ibaby{ 
      width: 100%;
      height: 35vw;
      object-fit: fill;
      margin-top: 16%;
      border-top: 3px inset black;
   }
    .Iinfo{
        background-color: #fff;
        padding: 7%;
        position: absolute;
        top: 55%;
        left: 39%;
    }
}
